services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:latest
    container_name: sqlserver
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=YourStrong@2025
    ports:
      - "1433:1433"
    networks:
      - micro_ecommerce

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - micro_ecommerce

  redis:
    image: redis:7
    container_name: redis-vendas
    ports:
      - "6379:6379"

networks:
  micro_ecommerce:
    driver: bridge
